a {
  color: #fff;
}

.header {
  transition: 0.5s all;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 500;
  background: rgba(170, 170, 170, 0.3);
  color: #fff;
}
.header.nav-up {
  top: -120px;
}
.header .nav {
  display: flex;
  margin-right: 0.5rem;
}
.header .nav__item {
  padding: 0 0.5rem;
}
.header > div:nth-of-type(2) {
  display: flex;
}

#btn9 {
  top: 21px;
  cursor: pointer;
  transition: right 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#btn9 div {
  width: 35px;
  height: 1px;
  margin-bottom: 8px;
  background-color: #f6f6f6;
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
}
#btn9 #bottom9 {
  width: 25px;
}

#btn9.active9 {
  cursor: pointer;
}
#btn9.active9 div {
  background-color: #f6f6f6;
}
#btn9.active9 #top9 {
  transform: translate(10px, 10px) rotate(-135deg);
}
#btn9.active9 #middle9 {
  opacity: 0;
  transform: rotate(135deg);
}
#btn9.active9 #bottom9 {
  width: 35px;
  transform: translate(10px, -10px) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 510px) {
  .header a {
    font-size: 16px;
  }
}